<h3>All Reports</h3>
<table class="table table-bordered table-hover text-center align-middle">
  <thead>
    <tr><th>ID</th><th>Title</th><th>Date</th></tr>
  </thead>
  <tbody>
    <tr><td>1</td><td>Annual Health Report</td><td>2024-01-01</td></tr>
    <tr><td>2</td><td>Monthly Patient Report</td><td>2024-05-01</td></tr>
  </tbody>
</table>
