<body data-entity="department">
<h3>All Departments</h3>
<div class="mb-3 text-end">
  <a href="/department/newDepartment" class="btn btn-primary">Add Department</a>
</div>
<div class="table-responsive">
  <table class="table table-bordered table-hover table-striped text-center align-middle">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody id="entityTableBody">
      <tr>
        <td>1</td>
        <td>Cardiology</td>
        <td>Heart related treatments</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Neurology</td>
        <td>Brain and nervous system</td>
      </tr>
    </tbody>
  </table>
</div>
<script src="/js/entityScripts.js"></script>
</body>
