<div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-secondary navbar-dark">
                <a href="/home" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>BIT Clinic</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">Jamil ahmad</h6>
                        <span>Admin</span>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a href="/home" class="nav-item nav-link active"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Doctors</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/doctors/allDoctors" class="nav-item nav-link">All Doctors</a>
                            <a href="/doctors/newDoctor" class="nav-item nav-link">Add a new Doctor</a>
                            <a href="/doctors/editDoctor" class="nav-item nav-link">Edit Doctor</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Patients</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/patiennts/allPatients" class="nav-item nav-link">All Patients</a>
                            <a href="/patiennts/newPatient" class="nav-item nav-link">Add a new Patient</a>
                            <a href="/patiennts/editPatient" class="nav-item nav-link">Edit Patient</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-calendar-alt me-2"></i>Appointments</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/allAppointments" class="nav-item nav-link">All Appointments</a>
                            <a href="/newAppointment" class="nav-item nav-link">Add a new Appointment</a>
                            <a href="/editAppointment" class="nav-item nav-link">Edit Appointment</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-building me-2"></i>Departments</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/allDepartments" class="nav-item nav-link">All Departments</a>
                            <a href="/newDepartment" class="nav-item nav-link">Add a new Department</a>
                            <a href="/editDepartment" class="nav-item nav-link">Edit Department</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-pills me-2"></i>Pharmacy</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/allMedicines" class="nav-item nav-link">All Medicines</a>
                            <a href="/newMedicine" class="nav-item nav-link">Add a new Medicine</a>
                            <a href="/editMedicine" class="nav-item nav-link">Edit Medicine</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-file-invoice-dollar me-2"></i>Billing</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/allBills" class="nav-item nav-link">All Bills</a>
                            <a href="/newBill" class="nav-item nav-link">Add a new Bill</a>
                            <a href="/editBill" class="nav-item nav-link">Edit Bill</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-chart-bar me-2"></i>Reports</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/allReports" class="nav-item nav-link">All Reports</a>
                            <a href="/newReport" class="nav-item nav-link">Add a new Report</a>
                            <a href="/editReport" class="nav-item nav-link">Edit Report</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-cogs me-2"></i>Settings</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/profileSettings" class="nav-item nav-link">Profile Settings</a>
                            <a href="/systemSettings" class="nav-item nav-link">System Settings</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->
