<body data-entity="patiennts">
<h3>All Patients</h3>
<div class="mb-3 text-end">
  <a href="/patiennts/newPatient" class="btn btn-primary">Add Patient</a>
</div>
<div class="table-responsive">
  <table class="table table-bordered table-hover table-striped text-center align-middle">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Gender</th>
      </tr>
    </thead>
    <tbody id="entityTableBody">
      <tr>
        <td>1</td>
        <td>John Smith</td>
        <td>45</td>
        <td>Male</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Mary Johnson</td>
        <td>38</td>
        <td>Female</td>
      </tr>
    </tbody>
  </table>
</div>
<script src="/js/entityScripts.js"></script>
</body>
