<body data-entity="medicine">
<h3>All Medicines</h3>
<div class="mb-3 text-end">
  <a href="/medicine/newMedicine" class="btn btn-primary">Add Medicine</a>
</div>
<div class="table-responsive">
  <table class="table table-bordered table-hover table-striped text-center align-middle">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Expiry Date</th>
      </tr>
    </thead>
    <tbody id="entityTableBody">
      <tr>
        <td>1</td>
        <td>Paracetamol</td>
        <td>100</td>
        <td>2025-12-31</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Ibuprofen</td>
        <td>50</td>
        <td>2024-11-30</td>
      </tr>
    </tbody>
  </table>
</div>
<script src="/js/entityScripts.js"></script>
</body>
